name: build-android-apk

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  install-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install npm dependencies
      run: |
        cd example
        rm -rf node_modules
        npm config set cache "$HOME/.npm-cache"
        npm cache clean --force
        npm install --force

  build:
    needs: install-and-test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install npm dependencies
      run: |
        cd example
        rm -rf node_modules
        npm config set cache "$HOME/.npm-cache"
        npm cache clean --force
        npm install --force

    - name: Overwrite index.js
      run: |
        cd example
        rm index.js
        mv json-demo-build.js index.js

    - name: Overwrite node module
      run: |
        rsync -Rr . example/node_modules/@argyleio/argyle-plugin-react-native

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'temurin'

    - name: Build Android Release
      run: |
        cd example/android
        ./gradlew assembleRelease

    - name: Archive APK
      uses: actions/upload-artifact@v4
      with:
        name: apk-app-development-release
        path: example/android/app/build/outputs/apk/release/app-release.apk
