name: publish-sdk
on:
  push:
    tags:
      - '*.*.*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-node@v4.2.0
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - id: tag
        run: echo "DEPLOY_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Publish SDK
        run: |
          sed -i "s/%LINK_VERSION%/${{ steps.tag.outputs.DEPLOY_TAG }}/g" package.json
          npm publish
