name: publish-sdk
on:
  push:
    branches:
      - '**'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-node@v4.2.0
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Publish SDK
        run: |
          npm publish --dry-run
